---
layout: page
---

<script type="text/javascript">
     function showmoreless(postid,descid,inhtmText) 
     {  
        var x = document.getElementById(postid).style.display; 

        if(x=="block")
        {
		  document.getElementById(descid).style.display = "block";
          document.getElementById(postid).style.display = "none";
          document.getElementById(inhtmText).innerHTML="<img src='http://fierralin.github.com/images/arrow_show.png' height='18px' alt='&gt;'>";
		  document.getElementById(inhtmText).title="Show More"
        }
       if(x=="none")
       {
		  document.getElementById(descid).style.display = "none";
          document.getElementById(postid).style.display = "block";
          document.getElementById(inhtmText).innerHTML="<img src='http://fierralin.github.com/images/arrow_hide.png' height='18px' alt='&lt;'>";
		  document.getElementById(inhtmText).title="Show Less"
        }
     }
</script>

{% for post in paginator.posts %}
		{% assign post_str = post.url | replace: '/', '-' %}
		{% assign post_str = post_str | remove: '.html'%}
		{% assign post_str = post_str | remove_first: '-'%}
  <h2 class="post-title" id="div-{{ post_str }}">
    <a href="{{post.url | prepend:site.baseurl}}.html">
      {{ post.title }}
    </a>
  </h2>

  <div class="post-meta">
  <div class="post-time">
    <i class="fa fa-calendar"></i>
    <time datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: '%d %h %Y %H:%M:%S' }}</time>
  </div>
  <ul>
    {% for tag in post.tags %}
    <li><a href="{{site.baseurl}}/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
	<li><a href="#div-{{ post_str }}"
			id="show-{{ post_str }}"
			onclick="showval='{{ post_str }}';
				showmoreless(showval, 'desc-'+showval ,'show-'+showval)"
			title="Show More">
			<img src='http://fierralin.github.com/images/arrow_show.png' height='18px' alt='&lt;'>
	</a></li>
  </ul>
  </div>

  <div id="desc-{{ post_str }}"
    class="post-descr">
      {{ post.content | truncatehtml: 100 }}
    <p>
	<a href="#div-{{ post_str }}"
	   id="show-{{ post_str }}"
	   onclick="showval='{{ post_str }}';
	   showmoreless(showval, 'desc-'+showval ,'show-'+showval)"
	   style="float:right"
	   title="Show More">
	  <img src='http://fierralin.github.com/images/arrow_show.png' height='18px' alt='&lt;'>
	</a>
    </p>
  </div>
  
  <div id="{{ post_str }}"
	class="post-content" style="display:none">
	<div id="post-{{ post_str }}"></div>
	<a href="#div-{{ post_str }}"
		id="show-{{ post_str }}"
		onclick="showval='{{ post_str }}';
			showmoreless(showval, 'desc-'+showval ,'show-'+showval)"
		style="float:right"
		title="Hide Contents">
		<img src='http://fierralin.github.com/images/arrow_hide.png' height='18px' alt='&lt;'>
	</a>
  </div>
  <script>
    $( "#post-{{ post_str }}" ).load( "{{post.url | prepend:site.baseurl}}.html #postcontent" );
  </script>
{% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
            <a class="previous" href="{{ site.baseurl }}/">
				    &laquo;&nbsp;Previous
	        </a>
		{% else %}
		    <a class="previous" href="{{ site.baseurl }}/page_{{ paginator.previous_page }}/">
				    &laquo;&nbsp;Previous
	        </a>
		{% endif %}
    {% endif %}
        <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
	    <a class="next" href="{{ site.baseurl }}/page_{{ paginator.next_page }}/">
				    Next&nbsp;&raquo;
		</a>
	{% endif %}
</div>

<div class="post-footer">
  <div class="column-full">
    <h3><a href="{{ '/archive.html' | prepend: site.baseurl }}">Blog archive</a></h3>
  </div>
</div>
